*{
box-sizing: border-box;
}

#grid-container{
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

body {
font-family: Arial, sans-serif;
background-color:#fff;
}

html,body{
  height: 100%;
  margin:0;
}

header{
  background-color: white;
  display: grid;
  grid-area: header;
  align-items: center;
  position: relative;
}

.logo img{
  max-height: 100px;
}

.flex{
display: flex;
align-items: center;
justify-content: center;
height: 100vh; 
overflow: hidden;
}

/* nav menyer css*/
header nav h3 {
  float: left;
}

header nav ul{
  float:right;

}

header nav ul li{
  display: inline-block;
  margin: 0 0.5rem;
}

header nav a{
  color:#000;
  text-decoration: none;
  position: relative;
  padding: 0.5rem;
}


header nav ul li a::before{
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #d4a82f;
  transform: scaleX(0);
  transition: transform 1s ease ;
  
}

header nav ul li a:hover::before{
  transform: scale(1.5);
}

.nav-button {
  border: none;
  color: #d4ac3f;
  padding: 12px 20px;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  }
  
  .nav-button:hover {
    background-color: #333;
    color: #d4ac3f; 
  }

/* mountains.png video css*/
.flex-banner {
  position: relative;
  height: 80vh; 
  overflow: hidden; 
}

.container {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
}

video {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  opacity: 0.5;
}

.text-overlay {
  position: relative;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black; 
  margin-top: 15%;

  }

.headline{
  font-size: 2.5rem;
  margin-bottom: 20px;
}
    
  .text-overlay h1 {
    font-size: 2em; 
  }
    
  .text-overlay p {
  font-size: 1.2em; 
  }

.text-overlay button {
font-size: 1em; 
padding: 10px 20px;
background-color: #e6bd43;
color: black;
border: none;
border-radius: 5px;
cursor: pointer;
}

#text-design{
text-align: center;
margin-bottom: 20px;

}

/*engaging subheading text*/
.engaging-heading {
font-size: 36px; 
gap: 1rem;
}

.engaging-headline{
  gap: 1rem;
}
  
#text {
font-size: 18px; 
text-align: center;
width: 100%;
justify-content: center;
}

/*About our company css*/
.title{
  font-size: 30px;
  text-decoration: solid;
}
  
.button-3{
font-size: 15px;
padding: 10px 15px;
display: inline-block;
text-decoration: solid;
margin: 4px 2px;
text-align: left;
background-color: white; 
color: black; 
border: 2px solid #d4ac3f;
}

.button-33{
  font-size: 15px;
padding: 10px 15px;
display: inline-block;
text-decoration: solid;
margin: 4px 2px;
text-align: left;
background-color: white; 
color: black; 
border: 2px solid #d4ac3f;
}

.button-33:hover{
  background-color: #333;
  color: #d4ac3f; 
}

.button-3:hover{
  background-color: #333;
  color: #d4ac3f; 
}

.flex-company{
  display: flex;
  margin: 16px;
  padding: 90px;
  align-items: center; 
  background-color: #d4a82f; 
}


/* buttons css*/
.button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1{
  background-color: white; 
  color: black; 
  border: 2px solid #d4ac3f;
}

.button1:hover{
  background-color: #333;
  color: #d4ac3f; 
}
  
main{
display: grid;
grid-area: main;
align-items: center;
text-align: center; 
}

/* main css*/
.section {
  overflow: hidden; 
}

.text-overlay img {
  width: 100%; 
  height: auto;
}

.headline {
  font-size: 24px;
  margin-bottom: 10px;
}

#text-design {
  font-size: 16px;
  line-height: 1.5;
}

.flex-container {
  display: flex;
  padding: 30px; 
  margin-top: 15px;
}

/* our services*/
#service-header{
  text-align: center;
  gap: 3rem;
}

.sec { 
 padding: 15px;
 height: 15px;
}

.fa-solid {
font-size: 24px; 
}

h3 {
 margin-top: 10px; 
}

p {
 margin-top: 10px; 
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

input {
  padding: 10px;
  border: 1px solid; 
  border-radius: 5px;
}

/*Portfolio banner css*/
.banner {
  position: relative;
  overflow: hidden;
}

.container-portfolio {
  position: relative;
  width: 199%;
  height: 500px; 
  
}

.container-about {
  position: relative;
  width: 199%;
  height: 500px; 
  
}

/* about side header css*/
.container-2 {
  position: relative;
  width: 199%;
  height: 500px; 
  
}

.banner-2 {
  position: relative;
  overflow: hidden;
}

.banner-2 {
  position: relative;
  height: 500px; 
  background-image: url('img/macbook3.jpg');
  background-size: cover;
  background-position: right;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.macbook-pic {
  max-width: 100%;
  height: auto;
  display: block;
}

.overlay-box {
  position: relative;
  display: inline-block;
  justify-content: right;

}

#aboutus{
  color: #fff;
}

#text-color{
  color: #000;
}

#text-color-2{
  color: #000;
}

#text-color-3{
  color: #000;
}

#text-color-4{
  color: #000;
}


/*Some of our clients*/
.clients-banner {
  height: 100vh;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  object-fit: cover;
}

.clients {
  width: 100%;
  background-color: #d4ac3f;
  object-fit: cover; 
}

.clients h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.logo-pic {
  max-width: 100%;
  height: auto;
  margin: 10px;
}


/*contact css*/
.container4 {
  display: flex; 
  justify-content: space-between; 
 
}
.form-container {
  text-align: left;
  max-width: 400px; 
  margin: auto; 
}

.form-container label,
.form-container textarea,
.form-container input {
  display: block;
  margin-bottom: 10px;
   
}


.button-3 {
  display: block;
  margin-top: 10px; 
}

.box-container {
  display: flex;
  background-color: lightgray; 
  text-align: left; 
}

.box {
  width: 50%; 
  padding: 27px;
  box-sizing: border-box;
  margin-bottom: 25px;
  text-align: left;
}

h2 {
color: #333;
text-align: left; 
}

form, p {
margin-bottom: 16px;
text-align: left; 
}

.fa-location-pin,
.fa-phone,
.fa-envelope {
  margin-right: 8px;
}


/* google maps css*/
.container::after {
content: "";
display: table;
clear: both;
}

.google-maps {
  max-height: 200px; 
  width: 100%;
  height: 0;
  padding-bottom: 50%; 
  position: relative;
  color: #fff; 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; 
}

.google-maps iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

.google-maps h1 {
  font-size: 2em; 
  margin: 20px 0; 
}


.text-container {
  max-width: 800px;
  text-align: center;
}

.container-about-section {
  padding: 20px;
}

.container-2 {
  max-width: 800px;
  margin: 0 auto;
}

.container-2 img {
  max-width: 100%;
  height: auto;
}


.container-portfolio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
}

.text-overlay {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  margin: 5%;
  top: 20%;
  left: 20%;
  text-decoration: solid;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black; 
  font-size: larger;
}

/* placeholder pictures css*/
#Branding-section{
  text-decoration: solid;
  display: block;
  text-align: left;
  border-bottom: 2px solid #d4ac3f;
  margin-top: 8px;
 height: 50px;
}

#Branding-section2{
  text-decoration: solid;
  display: block;
  text-align: left;
  border-bottom: 2px solid #d4ac3f;
  margin-top: 8px;
 height: 50px;
}

 .column:hover{
  transform: scale(1.5);
  z-index:7;
 }


#design-section{
  text-decoration: solid;
  display: block;
  text-align: left;
  border-bottom: 2px solid #d4ac3f;
  margin-top: 8px;
 height: 50px;
}

#development-section{
  text-decoration: solid;
  display: block;
  text-align: left;
  border-bottom: 2px solid #d4ac3f;
  margin-top: 8px;
 height: 50px;
}

.column{
  width: 33.33%;
  padding: 5px;
  float: left;
}

.column-1{
  width: 33.33%;
  padding: 5px;
  display: inline-block;
  margin-right: 15px; 
}

.row::after{
  display: table;
  clear: both;
}

.Image
.big-img{
  width: 100%;
  height: auto;
  max-width: 400px;
  transition: transform 0.5s ease;
}

.Image:hover,
.big-img:hover {
transform: scale(1.1); 
}

.big-img{
  width: 100%;
  height: auto;
  max-width: 800px;
}




/*css for buttonss*/
.buttons {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-branding{
  background-color: white; 
  color: black; 
  font-size: 20px;
  border: 2px solid black;
}

.button-branding:hover{
  background-color: #333;
  color: #d4ac3f; 
}

.button-design{
  background-color: white; 
  color: black; 
  font-size: 20px;
  border: 2px solid black;
}

.button-design:hover{
  background-color: #333;
  color: #d4a82f
}

.button-development{
  background-color: white; 
  color: black; 
  font-size: 20px;
  border: 2px solid black;
}

.button-development:hover{
  background-color: #333;
  color: #d4a82f
}



/* go back to the top button css*/
.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: darkgray;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color:#fff;
 font-size: 22px;

}

img {
max-width: 65%; 
margin-right: 20px; 
}

.section {
flex: 1; 
margin: 25px;
}

#title{
  text-align: left;
  margin-top: 20px;
}


/* footer css */
footer, footer * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color: #333; 
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-footer img {
  max-width: 100px; 
  height: auto;
}

#company-copyright {
  font-size: 14px;
  margin: 0;
}

.socials ul {
  list-style: none;
  display: flex;
}

.socials li {
  margin-right: 10px;
}

.socials i {
  font-size: 20px;
  color: #fff; 
}

.fa-instagram:hover {
  color: #e6bd43; 
}

.fa-facebook:hover {
  color: #e6bd43; 
}

.fa-linkin:hover {
  color: #e6bd43; 
}


@media only screen and (max-width: 600px) {
.container-box {
flex: 100%; 
}

.flex {
height: auto; 
}

header{
  background-image: url('whitepic.jpg');
  background-size: cover;
}

.button, a{
  pointer-events: none;
}
.text-overlay {
margin-top: 5%; 
}

.nav {
text-align: center;
}

.nav ul li {
display: block;
text-align: center;
margin-bottom: 5px;
}

.button1,
.nav-button {
padding: 8px 15px; 
}

.container-portfolio {
height: auto;
}

.flex-banner-portfolio {
height: auto; 
}
}

